@use 'variables' as *;
@use 'header' as *;
@use 'login' as *;
@use 'dashboard' as *;
@use 'main' as *;
@use 'mixins' as *;

* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-image: $primary-background-image;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  @include columnCentered();
  color: white;
}

.hidden {
  display: none;
}
