/* This is an example of how to import a partial scss file*/
@import '_variables';

* {
  box-sizing: border-box;
  // border: 1px solid black;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-image: $primary-background-image;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(#6f91b8, 0.80);
  color: white;
}

.customer-dashboard {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  // display: flex;
  // justify-content: space-around;
  // align-items: flex-start;
}

.dashboard-section {
  min-width: 300px;
  padding: 10px;
}

.dashboard-section-header {
  padding: 10px;
}

.header {
  justify-self: flex-start;
  display: flex;
  justify-content: center;
}

.heading {
  text-align: center;
}

label {
  padding-bottom: 10px;
}

.login-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  background-color: rgba(#6f91b8, 0.80);
  color: white;
  font-size: 18px;
  border-radius: 10px;
}

.logo {
  font-size: 72px;
  color: white;
  padding: 20px;
  font-family: 'Cinzel Decorative', cursive;
}

main {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.room-card {
  padding: 10px;
  background-color: rgba(#ccb081, 0.86);
  margin: 10px;
  border-radius: 10px;
}

.booking-card {
  padding: 10px;
  background-color: rgba(#ccb081, 0.86);
  margin: 10px;
  // border-radius: 10px;
}

.new-booking-form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100px;
}

.types-section {
  display: flex;
  flex-direction: column;
  
}

.hidden {
  display: none;
}
