/* This is an example of how to import a partial scss file*/
@import '_variables';

* {
  box-sizing: border-box;
  border: 1px solid black;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-image: $primary-background-image;
  background-size: cover;
}

.customer-dashboard {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.dashboard-section {
  min-width: 300px;
}

.header {
  display: flex;
  justify-content: center;
}

.heading {
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 72px;
}

.hidden {
  display: none;
}
