@use 'variables' as *;
@use 'mixins' as *;

.book-btn {
  align-self: center;
  padding: 5px;
  margin: 5px;
}

.booking-card {
  background-color: lighten($tan, 10%);
}

.dashboard {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;

  section {
    min-width: 300px;
    padding: 10px;
  }
}

.dashboard-container {
  @include columnCentered();
  background-color: $blue;
  color: white;
}

.date-selector {
  width: 200px;
  text-align: center;
}

.new-booking-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px, 10px, 0px, 10px;
  min-height: 100px;

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: auto;
  }
}

.room-card, .booking-card {
  margin: 10px;
  padding: 10px;
  box-shadow: $shadow;
  p {
    padding: 3px;
  }
}

.room-card {
  display: flex;
  flex-direction: column;
  background-color: $tan;
  cursor: pointer;
  border-radius: 10px;
}

.section-heading {
  padding: 10px;
  text-align: center;
}

.total-spent,
.total-spent-heading {
  text-align: center;
}

.type {
  display: block;
}
