@use 'variables' as *;

header {
  display: flex;
  justify-content: center;

  span {
    padding: 20px;
    width: 300px;
    font-family: $primary-font;
    font-size: 72px;
    color: $white;
    background-color: $blue;
  }
}
