@use 'variables' as *;
@use 'mixins' as *;

main {
  width: 90%;
  @include columnCentered();
  align-items: center;
}

.main-heading {
  text-align: center;
  padding-top: 10px;
  font-family: $primary-font
}
