// Colors
$blue: hsla(212, 33%, 57%, 0.85);
$tan: complement($blue);
$white: hsla(0, 0%, 100%, 1);

// Effects
$shadow: 3px 3px 3px rgb(0 0 0 / 0.8);

// Fonts
$primary-font: 'Cinzel Decorative', cursive;
