// Images
$primary-background-image: url("../images/oasis.jpg");

// Colors
$blue: rgba(#6f91b8, 0.80);
$tan: rgba(#ccb081, 0.86);

// Effects
$shadow: 3px 3px 3px rgb(0 0 0 / 0.8);

// Fonts
$primary-font: 'Cinzel Decorative', cursive;
